@import "tailwindcss";

body {
	font-family: "Funnel Display", sans-serif;
}

#hero {
	background-image: radial-gradient(
		circle at 50% 40%,
		rgb(32, 0, 75),
		transparent 60%
	);
	background-size: 100% 100%;
}

#projects {
	/* Default color */
	/* background-color: black; */
	/* Dots */
	background-image:
		radial-gradient(circle at 20% 20%, rgb(0, 82, 0), transparent),
		radial-gradient(circle at 80% 80%, rgb(97, 0, 97), transparent),
		radial-gradient(circle at center, rgb(0, 0, 107), transparent),
		radial-gradient(circle at center, rgb(157, 95, 182) 1px, transparent 1px);
	background-size:
		100% 100%,
		100% 100%,
		100% 100%,
		20px 20px;
	background-blend-mode: overlay;
	background-attachment: fixed;
}

.reveal {
	opacity: 0;
	filter: blur(5px);
	transition: all 0.8s cubic-bezier(0.17, 0.55, 0.55, 1);
}

.reveal-left {
	transform: translateX(-50px);
}

.reveal-right {
	transform: translateX(50px);
}

.reveal-up {
	transform: translateY(40px);
}

.reveal-down {
	transform: translateY(-40px);
}

.reveal-scale {
	transform: scale(90%);
}

.reveal.active {
	opacity: 1;
	filter: blur(0);
	transform: translate(0, 0);
}
